[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SpatialGraph"]
	path = SpatialGraph
	url = https://github.com/garciapintado/spatialgraph
